<th:block th:fragment="main(providers, currencies)">

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

	<div class="panel panel-default">

		<div class="panel-heading">
			<h3 class="panel-title">Dashboard</h3>
		</div>

		<div class="panel-body">

			<div class="row">
				<div class="col-md-6">
					<div
						th:replace="query-component :: main(${providers}, ${currencies})"></div>
				</div>
				<div class="col-md-6">
					<!-- 					<div th:replace="history-component :: main()"></div> -->
				</div>
			</div>

		</div>

	</div>


	<script type="text/javascript" th:inline="javascript">
		//<![CDATA[				
		$(document).ready(function(){
			
			
		}
		//]]>
	</script>
</th:block>