<th:block th:fragment="main(providers, currencies)">

	<div class="panel panel-default" data-name="query">
		<div class="panel-heading">Currency Rates Panel</div>
		<div class="panel-body">

			<div class="form">

				<!-- Provider -->
				<div class="form-group">
					<label for="provider" class="control-label">Provider</label> <select
						class="form-control" name="provider">
						<option th:each="provider : ${providers}" th:text="${provider}"></option>
					</select>
				</div>

				<!-- Source Currency -->
				<div class="form-group">
					<label for="source" class="control-label">Source Currency</label> <select
						class="form-control" name="source">
						<option th:each="currency : ${currencies}" th:text="${currency}"></option>
					</select>
				</div>

				<!-- Current or Historical -->
				<div class="form-group">
					<input type="checkbox" name="historical" /> <label
						for="historical" class="control-label">Historical</label>
				</div>

				<div class="form-group">
					<div class="input-group date" data-name="date">
						<input type="text" class="form-control" name="date"
							disabled="disabled" />
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-th"></span>
						</div>
					</div>
				</div>

				<div class="form-group">
					<button class="btn btn-primary pull-right" data-action="query"
						th:disabled="${#lists.isEmpty(providers)}">Query</button>
					<div class="clearfix"></div>
				</div>
				<hr />
				<div class="form-horizontal" data-name="boxes"></div>

			</div>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		//<![CDATA[

		var qAnchor;		           
		var currencies = [[${currencies}]];
		var providers = [[${providers}]];
		           
		$(document).ready(function(){
			
			qAnchor = $('div[data-name="query"]');
			
			initCheckbox();
			initDatePicker();
			initQueryButton();
		});
		
		function initCheckbox(){			
			qAnchor.find('input[name="historical"]').click(function() {							
				var field = qAnchor.find('input[name="date"]');
				
				if(this.checked){
					field.prop('disabled', false);
					field.attr('placeholder', 'yyyy-mm-dd');
				} else {
					field.prop('disabled', true);
					field.val('');
					field.attr('placeholder', '');
				}			    
			});			
		}
		
		function initDatePicker(){
			qAnchor.find('div[data-name="date"]').datepicker({
				format: 'yyyy-mm-dd',
				orientation: "bottom auto",				
				autoclose: true
			});
		}
		
		function initQueryButton(){
			
			qAnchor.find('button[data-action="query"]').on('click', function(){				
				var btn = $(this);
				if(!btn.attr('disabled')){
				
					// validate if historical
					var check = qAnchor.find('input[name="historical"]')
					var isHistorical = check.get(0).checked;
					var date = qAnchor.find('input[name="date"]');
					if(!isHistorical || date.val() != ''){
						date.parent().removeClass('has-error');
						
						btn.prop('disabled', true);						
						var data = getData();
						
						$.ajax({
							type: 'POST',
							url: [[@{/query}]],
							data: JSON.stringify(data),
							contentType: 'application/json',
							dataType: 'json'
							
						}).always(function(){
							btn.prop('disabled', false);						
						}).done(function(result){
							console.log(result);
							if(result.success){	
								hideError();
								refreshBoxes(result.success);
							} else {
								console.log('showing error');
								showError(result.error);
							}							
						}).fail(function(error){
							showError(error);
						});
						
					} else {
						// Is invalid
						date.parent().addClass('has-error');
					}
				}
			});
			
		}
		
		function getData(){
			
			var data = {};
			data['provider'] = qAnchor.find('select[name="provider"]').val();
			data['source'] = qAnchor.find('select[name="source"]').val();
			data['historical'] = qAnchor.find('input[name="historical"]').get(0).checked;
			if(data.historical){
				data['date'] = qAnchor.find('input[name="date"]').val().toString();				
			}
			
			return data;
			
		}		
		
		function showError(error){			
			$('div[data-name="notifications"]').empty().text(error).removeClass("hidden");			
		}

		function hideError(){		
			$('div[data-name="notifications"]').empty().addClass("hidden");			
		}
		
		function refreshBoxes(result){			
			var div = qAnchor.find('div[data-name="boxes"]');
			div.empty();
			
			$.each(currencies, function(idx, obj){
				
				if(obj != result.source){
					var value = (result.quotes[obj] || '');
					var box = paintBox(obj, value);
					div.append(box);					
				}				
			});			
		}
		
		function paintBox(currency, value){
			var html = '';
			html += '<div class="form-group">';
			html += '<label class="col-sm-3 control-label">'+currency+'</label>';
			html += '<div class="col-sm-9">';
			html += '<span class="form-control">'+value+'</span>';
			html += '</div>';		
			html += '</div>';		
			
			return html;
		}


		//]]>
	</script>
</th:block>